.sgc-block--list {
    margin-bottom: 2rem;
    line-height: 1.2;

    .list-item {
        padding: 1rem 0;

        &:not(:last-child){
            border-bottom: 1px solid #ced4da;
        }

        .item-meta {
            margin-bottom: 0.5rem;
            .meta-label {
                font-size: 0.875rem;
            }
            .meta-value {
                font-weight: bold;
            }
        }
    }
}